body {
    overflow-y: scroll;
    font-size:100%;
    color: #212529;
    line-height: 1.6;
}

.bg-navbar {
    background-color: #ffa500;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #fff;
    text-decoration: underline;
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-weight: 500; 
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 180%;
    border-bottom: 1px solid #a2a9b1;
    margin: 1.2em 0 0.6em;
}
h2 {
    font-size: 140%;
    padding-bottom: 0.3em;
    margin: 0.6em 0 0.3em;
}
h3 {
    font-size: 100%;
    margin: 0.6em 0 0.3em;
}
h4 {
    font-size: 100%;
    margin: 0.6em 0 0.3em;
}
h5 {
    font-size: 100%;
    margin: 0.6em 0 0.3em;
}
h6 {
    font-size: 100%;
    margin: 0.6em 0 0.3em;
}
.container {
    max-width: 960px;

}

.container a {
    color: #007bff;
    text-decoration: none;
}
.container a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.tags {
    font-size: 13px;
    background-color: #f8f9fa;
    border: 1px solid #eaecf0;
    border-radius: 2px;
    padding: 1px 4px;
}

.tags a {
    color: #e83e8c;
}

.tags a:hover {
    color: #e83e8c;
    text-decoration: underline;
}